@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}
.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
    border-style: solid;
}
.form-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde317d7;
    padding: 1rem;
    border-style: solid;
    border-color: red;
}
.form-img img {
    width: 31rem;
}
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    border-style: solid;
    border-color: blue;
}
.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.login-button {
    display: flex;
    align-items: center;
}
.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.login-button button:hover {
    background-color: #4641b1f1;
}
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.form-header h1 {
    margin: 10px;
    padding: 5px;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}
/*Verificar*/
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
/*Verificar*/
.input-box input {
    margin: 8px 0;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}
.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}
.input-box label, 
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}
.input-box input::placeholder {
    color: #000000be;
}
.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}
.gender-input {
    display: flex;
    align-items: center;
}
.gender-input input {
    margin-right: 0.35rem;
}
.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button button:hover {
    background-color: #4641b1f1;
}
.continue-button button a {
    text-decoration: none;
    font-size: 0.93 rem;
    font-weight: 500;
    color: white;
}
@media screen and (max-width: 1330px) {
    .form-img {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
    .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }
    .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
    }
    .input-box input {
        margin: 1px 0;
        padding: 1px 1px;
        border: none;
        border-radius: 1px;
        box-shadow: 1px 1px 6px #0000001c;
    }
}
@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10px;
        padding-right: 10px;
    }
    .gender-input {
        margin-top: 5px;
    }
    .gender-input {
        margin-top: 10px;
    }
    .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1px;
    }
    .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 1px;
    }
    .input-box input {
        margin: 1px 0;
        padding: 1px 1px;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
    }
}